body, html {
    height: 100%;
    background-color: rgb(170, 170, 170);
    font-family: Helvetica;
}

.info-container {
    position: relative;
    left: 42%;
    top: 5%;
}

.button {
    border: none;
    padding: 128px;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.description-text {
    float: right;
}

.banner-image { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: -8px -8px 0 -8px;
}

.banner-text {
    text-align: center;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.button-container {
    position: relative;
    width: 128px;
}
  
.button-image {
    display: block;
    width: 128px;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 128px;
    height: 0;
    transition: .3s ease;
}
  
.button-container:hover .overlay {
    height: 128px;
}
  
.button-text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.desc-container {
    display: flex;
    align-items: center;
}
  
.desc-text {
    font-size: 30px;
    padding-left: 20px;
}