body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(20, 90, 255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: rgb(0, 200, 20);
    ;
}

.incorrect {
    background: rgb(220, 10, 10);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.audio-button {
    margin-top: 5px;
    margin-left: 50px;
    background: transparent;
    box-sizing: border-box;
    float: left;
    width: 0;
    height: 60px;

    border-color: transparent transparent transparent #ffffff;
    transition: 100ms all ease;
    cursor: pointer;


    border-style: solid;
    border-width: 30px 0 30px 45px;
}

.audio-button:hover {
    border-color: transparent transparent transparent #d6d6d6;
}

.pause {
    border-style: double;
    border-width: 0px 0 0px 45px;
}

#canvas-container {
    position: relative;
    width: 600px;
    height: 74px;
    margin-left: 150px;
    overflow: hidden;
    border-top: #fff;
    border-bottom: #fff;
    margin-bottom: 30px;
}

#canvas {
    border-top: solid #fff;
    border-bottom: solid #fff;
    border-width: 5px;
}


#visual-container {
    position: left;
    height: 70%;
    width: 100%;
    background: black;
}

@media screen and (max-width: 700px) {
    .choice-container {
        min-width: 40rem;
    }
}