body {
    color: #fff;
}

.wrong-question {
    font-size: 2rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    float: left;
}

.option-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(20, 90, 255);
    font-size: 3rem;
    min-width: 80rem;
}


.image-result-container {
    display: flex;
    border-radius: 4px;
    background: rgb(20, 90, 255);
    width: 30%;
    margin-top: 30px;
    margin-right: 5%;
    float: left;
}

.image-option {
    width: 100%;
    padding: 20px;
    margin: 0;
}

.option-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: rgb(0, 200, 20);
}

.incorrect {
    background: rgb(220, 10, 10);
}

@media screen and (max-width: 800px) {
    .option-container {
        min-width: 40rem;
    }
}